.points-card {
  height: 50px;
  width: 50px;
  background: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.series-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.points-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
